<div class="footer">
    <h3 id="gst">GST Numbers</h3>
    <div class="gstflex">
      <h5 id="gst1">V.V Industries Gst No - 36AAPFV3516P1ZF</h5>
      <h5 id="gst2">Amar Wood Industries Pvt Ltd - Gst No 36AADCA7091B1ZX</h5>
    </div>
    <nav class="navbar navbar-expand-lg" id="footernav">
        <div class="container-fluid">
          <div class="para">
            <h1 class="parahead">Nova Water Pure</h1>
            <p class="paracontent">The 1981 report of World Health Organization, Geneva reports "Water collected for domestic use often becomes recontaminated or further contaminated by unsafe consumer storage and handling practices at the household level and is at the high risk by various pathogenic viruses, bacteria and parasites causing infectious diseases.</p>
          </div>
          <div id="footerproducts">
            <h4 class="fphead">OUR PRODUCTS</h4>
            <p class="fp1">Plastic Tanks<br>200-5000L</p>
            <p class="fp2">Stainless Steel Tanks<br>30-7500L</p>
            <img src="./images/footer.jpg" id="fpimg">
          </div>
          <div class="footercontact">
            <h3 id="footerhead">Amarwood Industries Pvt Ltd</h3>
            <h5 id="footeremail">novawaterpure@gmail.com</h5>
            <h5 id="footernumber">(+91) 9701169701, 9394607035</h5>
            <h5 id="footernumber">040-27170332, 27159702 / 03</h5>
            <div class="navbar-logos">
              <a href="https://www.facebook.com/amarwoodindustries/"><img src="./images/headerimg/img1.png" class="headerimg"></a>
              <a href="https://api.whatsapp.com/send/?phone=919701169701&text&type=phone_number&app_absent=0"><img src="./images/headerimg/img2.png" class="headerimg"></a>
              <a href="https://www.instagram.com/novawaterpure/"><img src="./images/headerimg/img3.png" class="headerimg"></a>
            </div>
          </div>
        </div>
    </nav>
</div>